# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\module2\Greatest Common divisior\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
